RewriteEngine On
RewriteRule ^create$ create.php [NC,L]
RewriteRule ^read/([0-9]+)$ read.php?id=$1 [QSA,L]
RewriteRule ^update/([0-9]+)$ update.php?id=$1 [QSA,L]
RewriteRule ^delete/([0-9]+)$ delete.php?id=$1 [QSA,L]